<div class="wrapper">
  <div class="content-page">
    <div class="content">
      <!-- top bar-->
      <app-horizontal-topbar [cssClasses]="topbarCssClasses" (settingsButtonClicked)="onSettingsButtonClicked()"
        (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-horizontal-topbar>

      <!-- top bar menu -->
      <app-horizontal-topnav [showMobileMenu]="showMobileMenu" [navCssClasses]="topNavCssClasses" [navContainerCssClasses]="topNavContainerCssClasses"></app-horizontal-topnav>

      <!-- content-->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
  </div>
</div>