<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">

                    <!--Title-->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a routerLink="/">
                            <h3 style="color: white">Active Citizen</h3>
                        </a>
                    </div>

                    <!------------------------------- View 1 - Fill the Form ------------------------------>
                    <div *ngIf="viewState === viewStateEnum.Form" class="card-body p-4">

                        <!-- Titles -->
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Change password</h4>
                        </div>

                        <!--------------------- Form --------------------->
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" name="form">

                            <!-- Preloader -->
                            <app-preloader></app-preloader>

                            <!-- Error -->
                            <ngb-alert type="danger" class="text-center" *ngIf="renderValidations"
                                       [dismissible]="false">
                                Check your form for errors
                            </ngb-alert>

                            <!-- Password -->
                            <div class="form-group mb-3">
                                <label for="password">New password</label>
                                <input id="password"
                                       type="password"
                                       formControlName="password"
                                       class="form-control"
                                       [ngClass]="{ 'is-invalid': renderValidations && f.password.errors }"
                                       placeholder="Provide strong password"/>
                                <div *ngIf="renderValidations && f.password.errors?.required" class="invalid-field">
                                    Field is required
                                </div>
                            </div>

                            <!-- Password Repeat -->
                            <div class="form-group mb-3">
                                <label for="password">Repeat password</label>
                                <input id="passwordRepeat"
                                       type="password"
                                       formControlName="passwordRepeat"
                                       class="form-control"
                                       [ngClass]="{ 'is-invalid': renderValidations && (f.passwordRepeat.errors || form.getError('passwordMatchError'))}"
                                       placeholder="Repeat your password"/>
                                <div *ngIf="renderValidations && f.passwordRepeat.errors?.required"
                                     class="invalid-field">
                                    Field is required
                                </div>
                                <div *ngIf="renderValidations && form.getError('passwordMatchError')"
                                     class="invalid-field">
                                    Passwords do not match
                                </div>
                            </div>

                            <!-- Change Password Button -->
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>

                    <!------------------------------- View 2 - If Password Reset Success ------------------------------>
                    <app-card-success *ngIf="viewState === viewStateEnum.Success"
                                      [title]="'Great job'"
                                      [subTitle]="'Password reset successful'"
                                      [body]="'Please click on the link below to sign in'">

                        <app-sign-in-link></app-sign-in-link>

                    </app-card-success>

                    <!------------------------------- View 3 - If Password Reset Unsuccessful ------------------------------>
                    <app-card-error *ngIf="viewState === viewStateEnum.Error"
                                    [subTitle]="'Password reset unsuccessful'"
                                    [body]="error.text">

                        <div class="form-group text-center">
                            <button name="submit" class="btn btn-primary" (click)="viewState=viewStateEnum.Form">
                                Try again
                            </button>
                        </div>
                    </app-card-error>

                </div>
            </div>
        </div>
    </div>
</div>

