<div class="card-body p-4">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card ribbon-box">
                <div class="card-body">
                    <div class="ribbon ribbon-danger float-right">
                        <i class="mdi mdi-access-point mr-1"></i>
                        {{title}}
                    </div>
                    <h5 class="text-danger float-left mt-0">
                        {{subTitle}}
                    </h5>
                    <div class="ribbon-content">
                        <p class="mb-0">
                            {{body}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-content></ng-content>

</div>
