@import "/src/assets/scss/colors";

input {
  color: $gray-600;
  font-size: 13px;
  border: white;
  width: 300px;
}

input:focus{
  outline: none;
}

input:disabled{
  background-color: white;
}

input:enabled {
  font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
