<!-- Preloader Spinner -->
<app-preloader></app-preloader>

<div *ngIf="showForm" class="row justify-content-center mb-5">
    <div class="col-md-6" [formGroup]="form">
        <div class="card">
            <div class="card-body">

                <!-- Error -->
                <ngb-alert type="danger" class="text-center" *ngIf="error.code" [dismissible]="false">
                    {{error.text}}
                </ngb-alert>

                <!-- Error -->
                <ngb-alert type="success" class="text-center" *ngIf="success" [dismissible]="false">
                    {{success}}
                </ngb-alert>

                <!-- Label -->
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="header-title pt-2 mt-0 mb-3">Password</h4>
                    </div>

                    <!-- Change Password Button -->
                    <div class="col-sm-4">
                        <div class="text-center mt-sm-0 mt-3 text-sm-right">
                            <button type="button" class="btn btn-dark"
                                    (click)="form.enabled ? form.disable() : enableForm()">
                                <i class="mdi mdi-lock mr-1"></i>
                                Edit Password
                            </button>
                        </div>

                        <div *ngIf="form.enabled" class="text-center pt-3 text-sm-right">
                            <button type="button" class="btn btn-dark" (click)="changePassword()">
                                Change
                            </button>
                        </div>
                    </div>
                </div>
                <hr/>

                <div class="text-left" [formGroup]="form">

                    <!-- Password -->
                    <div class="mb-2">
                        <label for="current-password"><strong>Current password:</strong></label>
                        <input id="current-password" class="ml-2" #currentPassword type="password" formControlName="password"/>
                        <div *ngIf="renderValidations && form.get('password').errors?.required" class="invalid-field">
                            Field is required
                        </div>
                    </div>

                    <!-- New Password -->
                    <div class="mb-2">
                        <label for="new-password"><strong>New password:</strong></label>
                        <input id="new-password" class="ml-2" type="password" formControlName="newPassword"/>
                        <app-password-validation *ngIf="renderValidations"
                                                 [passwordControl]="form.get('newPassword')"
                        ></app-password-validation>
                    </div>

                    <!-- Password Repeat -->
                    <div>
                        <label for="password-repeat"><strong>Password repeat:</strong></label>
                        <input id="password-repeat" class="ml-2" type="password" formControlName="passwordRepeat"/>

                        <div *ngIf="renderValidations" class="invalid-field">
                            <ng-container *ngIf="form.get('passwordRepeat').errors?.required">
                                Password repeat is required
                            </ng-container>
                            <br>
                            <ng-container *ngIf="form.hasError('passwordMatchError')">
                                Passwords do not match
                            </ng-container>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

