<app-preloader></app-preloader>

<ng-container *ngIf="user">

    <!-- NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Profile</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor01" aria-controls="navbarColor01"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" (click)="logout()">
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Profile -->
    <div class="container-fluid mb-5">
        <div class="row justify-content-center py-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        <!-- Avatar -->
                        <div class="row">
                            <div class="col-sm-8">
                                  <span class="float-left m-2 mr-4">
                                    <img src="assets/images/users/avatar-2.jpg"
                                         style="height: 100px;" alt="avatar" class="rounded-circle img-thumbnail">
                                  </span>
                                <h4 class="pt-4 mb-0">{{form.get('firstName').value}} {{form.get('lastName').value}}</h4>
                                <h5 style="width: 450px;">{{user.email}}</h5>
                            </div>

                            <!-- Update Profile Button -->
                            <div class="col-sm-4">
                                <div class="text-center mt-sm-0 mt-3 text-sm-right">
                                    <button type="button" class="btn btn-dark"
                                            (click)="form.enabled ? form.disable() : enableForm()">
                                        <i class="mdi mdi-account-edit mr-1"></i>
                                        Edit Profile
                                    </button>
                                </div>

                                <div *ngIf="form.enabled" class="text-center pt-4 text-sm-right">
                                    <button type="button" class="btn btn-dark"
                                            (click)="saveUser()">
                                        {{form.dirty ? 'Update' : 'Cancel'}}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Personal Information -->
        <div class="row justify-content-center">
            <div class="col-md-6" [formGroup]="form">
                <div class="card">
                    <div class="card-body">

                        <!-- Bio -->
                        <h4 class="header-title mt-0 mb-3">Bio</h4>
                        <input #bio type="text" formControlName="bio"/>
                        <hr/>

                        <div class="text-left">

                            <!-- Name -->
                            <p><strong>Name:</strong>
                                <span class="ml-2">
                                  <input type="text" formControlName="firstName"/>
                                </span>
                            </p>

                            <!-- Last Name -->
                            <p class="text-muted"><strong>Last Name:</strong>
                                <span class="ml-2">
                                  <input type="text" formControlName="lastName"/>
                                </span>
                            </p>

                            <!-- Age -->
                            <p class="text-muted"><strong>Age:</strong>
                                <span class="ml-2">
                                  <input type="number" formControlName="age"/>
                                </span>
                            </p>

                            <!-- Sex -->
                            <p class="text-muted"><strong>Sex:</strong>
                                <span class="ml-2">
                                  <input type="text" formControlName="sex"/>
                                </span>
                            </p>

                            <!-- Location -->
                            <p class="text-muted"><strong>Location:</strong>
                                <span class="ml-2">
                                  <input type="text" formControlName="location"/>
                                </span>
                            </p>

                            <!-- Languages -->
                            <p class="text-muted"><strong>Languages :</strong>
                                <span class="ml-2">
                                  <input type="text" formControlName="languages"/>
                                </span>
                            </p>

                            <!-- Social Media -->
                            <p class="text-muted mb-0"><strong>Social Media :</strong>
                                <a class="d-inline-block ml-2 text-muted">
                                    <i class="mdi mdi-facebook"></i>
                                </a>
                                <a class="d-inline-block ml-2 text-muted">
                                    <i class="mdi mdi-twitter"></i>
                                </a>
                                <a class="d-inline-block ml-2 text-muted">
                                    <i class="mdi mdi-skype"></i>
                                </a>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Phone Number -->
        <div class="row justify-content-center">
            <div class="col-md-6" [formGroup]="form">
                <div class="card text-white bg-info overflow-hidden">
                    <div class="card-body">
                        <div class="toll-free-box text-center">
                            <h4>
                                <i class="mdi mdi-deskphone"></i>
                                Telephone:
                                <input type="text" formControlName="phone"
                                       style="background: transparent; color: white; font-size: 18px; font-weight: bold">
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Password-->
        <app-change-password></app-change-password>
    </div>

</ng-container>

