<div class="container-fluid">

  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>Pages</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
        <h4 class="page-title">Profile</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->


  <div class="row">
    <div class="col-sm-6">
      <!-- Profile -->
      <div class="card">
        <div class="card-body profile-user-box">

          <div class="row">
            <div class="col-sm-8">
              <div class="media">
                <span class="float-left m-2 mr-4"><img src="assets/images/users/avatar-2.jpg" style="height: 100px;"
                    alt="" class="rounded-circle img-thumbnail"></span>
                <div class="media-body">

                  <h4 class="mt-1 mb-1">{{user.firstName}} {{user.lastName}}</h4>
                  <p class="font-13 text-muted-50"> {{user.username}}</p>

<!--                  <ul class="mb-0 list-inline">-->
<!--                    <li class="list-inline-item mr-3">-->
<!--                      <h5 class="mb-1">$ 25,184</h5>-->
<!--                      <p class="mb-0 font-13-50 text-muted">Total Revenue</p>-->
<!--                    </li>-->
<!--                    <li class="list-inline-item">-->
<!--                      <h5 class="mb-1">5482</h5>-->
<!--                      <p class="mb-0 font-13 text-muted">Number of Orders</p>-->
<!--                    </li>-->
<!--                  </ul>-->
                </div> <!-- end media-body-->
              </div>
            </div> <!-- end col-->

            <div class="col-sm-4">
              <div class="text-center mt-sm-0 mt-3 text-sm-right">
                <button type="button" class="btn btn-light">
                  <i class="mdi mdi-account-edit mr-1"></i> Edit Profile
                </button>
              </div>
            </div> <!-- end col-->
          </div> <!-- end row -->

        </div> <!-- end card-body/ profile-user-box-->
      </div>
      <!--end profile/ card -->
    </div> <!-- end col-->
  </div>
  <!-- end row -->


  <div class="row">
    <div class="col-md-6">
      <!-- Personal-Information -->
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mt-0 mb-3">Bio</h4>
          <p class="text-muted font-13">
            Lorem ipsum
          </p>

          <hr />

          <div class="text-left">
            <p class="text-muted"><strong>Full Name :</strong> <span class="ml-2">Michael A. Franklin</span></p>

            <p class="text-muted"><strong>Mobile :</strong><span class="ml-2">(+12) 123 1234 567</span></p>

            <p class="text-muted"><strong>Email :</strong> <span class="ml-2">coderthemes@gmail.com</span></p>

            <p class="text-muted"><strong>Location :</strong> <span class="ml-2">USA</span></p>

            <p class="text-muted"><strong>Languages :</strong>
              <span class="ml-2"> English, German, Spanish </span>
            </p>
            <p class="text-muted mb-0"><strong>Elsewhere :</strong>
              <a class="d-inline-block ml-2 text-muted" title="" data-placement="top" data-toggle="tooltip" href=""
                data-original-title="Facebook"><i class="mdi mdi-facebook"></i></a>
              <a class="d-inline-block ml-2 text-muted" title="" data-placement="top" data-toggle="tooltip" href=""
                data-original-title="Twitter"><i class="mdi mdi-twitter"></i></a>
              <a class="d-inline-block ml-2 text-muted" title="" data-placement="top" data-toggle="tooltip" href=""
                data-original-title="Skype"><i class="mdi mdi-skype"></i></a>
            </p>

          </div>
        </div>
      </div>
      <!-- Personal-Information -->

      <!-- Toll free number box-->
      <div class="card text-white bg-info overflow-hidden">
        <div class="card-body">
          <div class="toll-free-box text-center">
            <h4> <i class="mdi mdi-deskphone"></i> Telephone : 1-234-567-8901</h4>
          </div>
        </div> <!-- end card-body-->
      </div> <!-- end card-->
      <!-- End Toll free number box-->

    </div> <!-- end col-->

  </div>
  <!-- end row -->

</div> <!-- container -->
