<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">

                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a routerLink="/">
                            <h3 style="color: white">Active Citizen</h3>
                        </a>
                    </div>

                    <ng-template [ngIf]="confirmedSuccessfully" [ngIfElse]="_unsuccessful">

                        <app-card-success [title]="'Great job'"
                                          [subTitle]="'Email confirmed successfully'"
                                          [body]="'Please click on the link below to sign in'">


                            <!-- Already User -->
                            <app-sign-in-link></app-sign-in-link>

                        </app-card-success>

                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #_unsuccessful>

    <app-card-error *ngIf="error?.code === 'email_or_activation_code_error' || error?.code === 'server_error'"
                    [title]="'Error'"
                    [subTitle]="'Account unable to be confirmed'"
                    [body]="error?.text">
    </app-card-error>

    <app-card-success *ngIf="error?.code === 'active_error'"
                      [title]="'Success'"
                      [subTitle]="'Please sign-in'"
                      [body]="error?.text">

        <app-sign-in-link></app-sign-in-link>

    </app-card-success>

</ng-template>
