<div class="topnav {{navContainerCssClasses}}">
  <div class="container-fluid">
    <nav class="navbar {{navCssClasses}} navbar-expand-lg topnav-menu">

      <div class="collapse navbar-collapse" id="topnav-menu-content" [ngbCollapse]="!showMobileMenu">
        
        <ul class="navbar-nav">
          <ng-container *ngFor="let item of menuItems">
            <li class="nav-item dropdown" *ngIf="!item.isTitle&&hasChildren(item)" ngbDropdown>
              <a class="nav-link arrow-none nav-link-ref" href="javascript: void(0);" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" ngbDropdownToggle id="topnav-{{item.label}}" (click)="onMenuClick($event)">
                <i class="{{ item.icon }} mr-1" *ngIf="item.icon"></i>
                {{ item.label }} <div class="arrow-down"></div>
              </a>

              <div ngbDropdownMenu attr.aria-labelledby="topnav-{{ item.label }}">
                <ng-container *ngFor="let subitem of item.children">
                
                  <div class="dropdown" ngbDropdown *ngIf="hasChildren(subitem)">
                    <a class="dropdown-item arrow-none nav-link-ref" href="javascript: void(0);"
                      id="topnav-{{ subitem.label }}" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" ngbDropdownToggle (click)="onMenuClick($event)">
                      {{ subitem.label }} <div class="arrow-down"></div>
                    </a>
                    
                    <div ngbDropdownMenu attr.aria-labelledby="topnav-{{ item.label }}">
                        <ng-container *ngFor="let subSubitem of subitem.children">
                          <a [routerLink]="subSubitem.link" class="dropdown-item nav-link-ref"
                            ngbDropdownItem>{{ subSubitem.label }}</a>
                        </ng-container>
                    </div>
                  </div>

                    <a [routerLink]="subitem.link" class="dropdown-item nav-link-ref" *ngIf="!hasChildren(subitem)"
                    ngbDropdownItem>{{ subitem.label }} </a>
                </ng-container>
              </div>
            </li>

            <li class="nav-item"
              *ngIf="!item.isTitle&&!hasChildren(item)" ngbDropdown>
              <a class="nav-link arrow-none nav-link-ref" [routerLink]="item.link" id="topnav-{{item.label}}">
                <i class="{{ item.icon }} mr-1" *ngIf="item.icon"></i>
                {{ item.label }}
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </nav>
  </div>
</div>