<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a routerLink="/">
                            <!--<span><img src="assets/images/logo.png" alt="" height="18"></span>-->
                            <h3 style="color: white">Active Citizen</h3>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Reset Password</h4>
                            <p class="text-muted mb-4">
                                Enter your email address and we'll send you an email with instructions
                                on how to reset your password
                            </p>
                        </div>

                        <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()"
                              novalidate>

                            <app-ui-preloader></app-ui-preloader>

                            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                            <ngb-alert type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

                            <div class="form-group mb-3" *ngIf="!success">
                                <label for="email">Email</label>

                                <input type="email" formControlName="email" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                                       placeholder="example@provider.com"/>

                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center" *ngIf="!success">
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Back to <a routerLink="/auth/login" class="text-muted ml-1"><b>Sign In</b></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

